<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= campground.title %> Page
    </title>
</head>

<body>
    <h1>
        <%= campground.title %>
    </h1>
    <ul>
        <li>
            <%= campground.location %>
        </li>
    </ul>
    <h1> All CampGrounds - <a href="/campgrounds"> Click Here</a></h1>
    <h2> Edit CampGround - <a href="/campgrounds/<%= campground.id %>/edit"> Click Here</a></h2>
    <form method="post" action="/campgrounds/<%=campground._id%>?_method=DELETE">
        <button> Delete</button>
    </form>
</body>

</html>